@use '../styles/global.scss' as *;
@use '../styles/variables';

.myBtn {
	@include button-base;
	transition: all;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: variables.$fnt-family;
}

.myBtn:active {
	transform: scale(0.95);
}
