@use '../../styles/variables';

.myCard {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.buttonsContainer {
  max-width: 200px;
}

.myInput {
  font-family: variables.$fnt-family;
  padding: variables.$paddingElem;

  &:disabled {
    background-color: #fff;
    border: 1px, solid, black;
    color: black;
  }
}

.saveCancelContainer {
  display: flex;
  gap: 10px;
}
