$fnt-family: 'Courier New', Courier, monospace;
$paddingElem: 0.25rem;
$primary-color: #57bcff;
$secondary-color: #bce4ff;
$warning-color: #ff5100;
$success-color: #00fa3e;
$error-color: #e74c3c;
$small-height: 0.75rem;
$medium-height: 1rem;
$large-height: 1.25rem;
