@use '../../styles/global.scss' as *;
@use '../../styles/variables';

.myHeader {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.myButton {
	@include button-base;
	transition: all;
	font-family: variables.$fnt-family;
}

.myButton:active {
	transform: scale(0.95);
}

.myInput {
	font-family: variables.$fnt-family;
	padding: variables.$paddingElem;
}
